@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat:wght@400;700&family=Poppins:wght@400;500&family=Raleway:wght@400;500;600;800&family=Roboto:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(235, 233, 248);
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
.header{
    display: grid;
    place-items: center;
}
.header img{
    width: 210px;
}
.header h4{
    font-size: 26px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
}
.header span{
    color: rgb(241, 46, 46);
}
.menus{
    display: grid;
    place-items: center;
}
.menus ul{
    display: flex;
}
.menus ul li a{
    text-decoration: none;
    margin-right: 15px;
    background-color: white;
    color: blue;
    padding: 6px 20px;
    border: 1px solid blue;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
#active{
    background-color: blue;
    color: white;
}
.menus ul li a:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}