@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat:wght@400;700&family=Poppins:wght@400;500&family=Raleway:wght@400;500;600;800&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
body {
  background-color: rgba(242, 241, 248, 0.883) !important;
}
.header {
  display: grid;
  place-items: center;
}
.header img {
  width: 210px;
}
.header h4 {
  font-size: 26px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
}
.header span {
  color: rgb(241, 46, 46);
}
.menus {
  display: grid;
  place-items: center;
}
.menus ul {
  display: flex;
}
.menus ul li button {
  text-decoration: none;
  margin-right: 15px;
  background-color: white;
  color: blue;
  padding: 6px 20px;
  border: 1px solid blue;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
#all {
  background-color: blue;
  color: white;
}
.menus ul li button:hover {
  background-color: blue;
  color: white;
}
#country {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.country {
  width: 400px;
  height: auto;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 20px;
  font-size: 18px;
  /* font-weight: 600; */
}
.country h5 {
  font-weight: 600;
}
.country img {
  margin-right: 10px;
  margin-bottom: 10px;
}
.country span {
  font-weight: 600;
}
#spinner{
  display: none;
}

@media only screen and (max-width: 688px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #country {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .country {
    width: 300px;
    margin-left: 25px;
  }
  #region {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px !important;
    grid-row-gap: 10px;
  }
  .menus ul li button {
    text-decoration: none;
    margin-right: 5px;
    background-color: white;
    color: blue;
    padding: 5px 10px;
    border: 1px solid blue;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
   * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .country {
    width: 300px;
    margin-left: 25px;
  }
}